<!-- Location ページ -->
<!-- ヘッダー -->
<div class = "container-fluid">
  <div class = "row">
    <%= render 'layouts/users-header' %>
  </div>
</div>
<!-- 国一覧 -->
<div class = "container" id = "coutries-container">
  <div class = "row">
    <main class = "clearfix">
      <div class = "country-wrapper">
	    <% @countries.each do |country| %>
  		　　<div class = "country-items">
  			　　　<%#= attachment_image_tag country, :country_img, :fill, 200, 200, format: 'jpeg', fallback: "no_img.jpg", size: "200x200" %><br>
  			　　　<span class = "country_name"> <%= link_to country.country_name, users_country_path(country) %></span><br>
  		　　</div>
	     <% end %>
      </div>
    </main>
  </div>
</div>
