// Place all the styles related to the admins/Cities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.about-city-form {
	float: left;
}

.input {
	margin-top: 10px;
}

.city-add {
	margin-top: 15px;
}