// Place all the styles related to the admins/Contacts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.admin-title {
	text-align: center;
	margin-bottom: 30px;
}

#admin-mypage {
	background-color: #DAC9A6;
	font-size: 17px;
	height: 1000px;
}

/* contact top */

.main-boxes {
    padding: 20px;
    border: 1px solid #dce0e0;
}

.box-title {
    margin-top: 20px;
    margin-left: 10px;
    font-size: 30px;
    font-weight: bold;
}
