<div class = "container">
  <div class = "row">
    <h1 class = "complete-message">予約申請が完了しました！</p>
    <p class = "guide">フォトグラファーの承認後、当日の案内メールが来ます。必ずご確認ください。</p>
    <p class = "jump-to-details">予約確認は<%= link_to 'こちら', photographer_book_path(@book) %></p>
  </div>
</div>