<!-- ヘッダー部分テンプレート -->
<%= render 'layouts/admins-header' %>
<br>
<br>
<br>
<div class = "container">
  <div class = "row">
  	<table class = "table">
  	  <h3>国一覧</h3>
  	  <thead>
       <tr>
        <th>国</th>
        <th></th>
       </tr>
      </thead>
      <tbody>
      	<% @countries.each do |c| %>
      	 <tr>
      	  <td class = "countents"><%= c.country_name %></td>
      	  <td class = "contents"><%= link_to '編集', edit_admins_country_path(c.id), class: "review-button btn btn-success" %></td>
      	 </tr>
      	<% end %>
      	<%= paginate @countries, class: "paginate" %>
  	</table>
  </div>
</div>