<!-- 都市詳細 フォトグラファー 一覧ページ -->
<!-- ヘッダー部分テンプレート -->
<%= render 'layouts/users-header' %>
<br>
<br>
<br>
<br>
<!-- メイン画像と検索フォーム -->
<div class = "container">
  <div class = "row">
    <div clas  = "top-image-for-city-show">
      <div class = "top-title-city-show">
        <h1><%= @city.city_name %></h1>
      </div>
    </div>
  </div>
  <div class = container>
  <div class = "row">
    <div class = "about_city">
      <h3><%= @city.about_city %></h3>
    </div>
    <% @photographer.each do |photo| %>
      <table class = "table">
        <tbody>
          <tr>
            <td class = "contents"><%#= attachment_image_tag photo, :profile_img, :fill, 50, 50, format: 'jpeg', fallback: "noimage.jpg", size:'50x50' %></td>
          </tr>
          <tr>
            <td class = "contents"><p><%#= photo.user.last_name %><%#= photo.user.first_name %></p></td>
            <td class = "contents"><p><%= link_to photo.photographer.area, users_photographer_path(photo) %></p></td>
          </tr>
        </tbody>
      </table>
    <% end %>
  </div>
</div>
</div>

