<!-- 都市詳細 フォトグラファー 一覧ページ -->
<div class = "container-fluid">
  <div class = "row">
    <div class = "col-xs-9">
      <% @photographer.each do |photo| %>
      <% logger.debug(photo) %>
        <table class = "table table-hover">
        <tbody>
            <tr>
            <td class = "contents"><%#= attachment_image_tag photo.photographer, :profile_img, :fill, 50, 50, format: 'jpeg', fallback: "noimage.jpg", size:'50x50' %></td>
              <td class = "contents"><p><%= link_to photo.photographer.area, users_photographer_path(photo) %></p></td>
            </tr>
          </tbody>
           </table>
      <% end %>
    </div>
  </div>
</div>
