<!-- フォトグラファー "ポートフォリオを編集" ページ -->
<!-- ヘッダー部分テンプレート -->
<%= render 'layouts/photographers-header' %>
<div class = "container">
	<div class = "row">
		<h4 class = "user-edit">フォトグラファー情報の編集</h4>
	</div>
</div>
<%= render 'photographers/nested-form' %>