<!-- ユーザー登録後、フォトグラファー権限カラムtrueの場合に、フォトグラファー情報登録画面として本画面に遷移 -->

<section class = "mypage clearfix">
    <h4 class = "user-edit">フォトグラファー情報の登録</h4>
    <p> 後から編集できます </p>
</section>
<%= render 'photographers/nested-form' %>