/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require select2
 *= require select2-bootstrap
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

* {
 	margin: 0;
 	padding: 0;
 	box-sizing: border-box;
}

.clearfix::after {
 	content: "";
 	display: block;
 	clear: both;
}


/* ヘッダー */

html {
  position: relative;
}

header {
  background: rgba(0, 0, 0, 0.8),transparent;
  position: fixed;
  justify-content: space-between;
  position: fixed;
  transition: .5s;
  width: 100%;
  z-index: 12;
  height: 70px;
  padding: 8px 60px 5px 60px;
}

header.transform {
  background-color: rgba(255, 255, 255, 1) !important;
  height: 80px;
  z-index: 12;
    p {
      color: #000000;
      line-height: 60px;
    }
}

.site-title {
  font-family: 'Permanent Marker', cursive;
  font-size: 40px;
}

.search-engine {
  margin-left: 40px;
  margin-top: 5px;
}

.search-engine input{
  float:left;
}

#city-search {
  width: 500px;
}

.navbar-right p {
  color: #000000;
  line-height: 40px;
}

#admin-header {
  background-color: #DAC9A6;
}

/*ユーザー　サインイン 兼 アカウント登録 */

.main-section{
    background-size:100% 100%;
    margin: 0px;
    width: 100%;
}

.user-login-header,.login-image-main{
    margin-top: 15px;
}

.user-login-header h1{
    font-size: 45px;
    color:#fff;
}

.user-login-header p,.last-part p{
    color:#c9c5c7;
}

.user-login-header span{
    color:#fff;
    font-weight: 600;
}

.login-title {
  font-family: 'Carter One', cursive;
  font-size: 40px;
}

.login-image-main{
    padding: 20px;
    border: 2px solid #ccc;
    border-radius:30px;
    box-shadow: 0 0 5px 0 #fff;
}

.user-image-section img{
    height:150px;
    width:150px;
    border-radius: 50%;
}

.input-group-text {
  margin: 20px 0 20px 30px;
  float: left;
}

.user-login-box,.last-part{
    padding-top: 10px;
}

.login-button {
  position: relative;
  background-color: #F9BF45;
  border-radius: 4px;
  color: #fff;
  line-height: 52px;
  -webkit-transition: none;
  transition: none;
  box-shadow: 0 3px 0 #FFC408;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .4);
  width: 220px;
}

.login-button:hover {
  top: -4px;
  box-shadow: 0 7px 0 #f7ba59;
}

.login-button:active {
  top: 3px;
  box-shadow: none;
}

.last-part a{
    text-decoration: none;
    color:#B56162;
}

/*ユーザー 新規アカウント登録 (users/registrations/new.html.erb) */


.new-account-people {
  text-align: center;
}

.photographer-check {
  text-align: center;
}

.new-account-email {
  width: 250px;
}

.new-account-info1 {
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: center;
}

.new-account-info2, .new-account-info4, .new-account-info5,
.new-account-info6, .new-account-info7, .new-account-info8 {
  margin-bottom: 10px;
  text-align: center;
}

.new-account-info3 {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}

.new-account-button {
  margin-top: 20px;
  margin-left: 110px;
}

.new-account-box {
  margin-left: 20px;
}

/*ユーザー情報編集 (users/registrations/edit.html.erb) */

.user-edit-name {
  padding: 5px;
}

.user-edit-form {
  width: 200px;
  height: 40px;
}

.user-edit {
  margin-top: 50px;
  font-size: 20px;
  font-weight: bold;
}

.user-edit::after {
  content: "";
  display: block;
  background: #E2943B;
  height: 3px;
  width: 50px;
  margin: 30px 0;
}

.col-xs-6 {
  margin: 40px 0;
}

.useremail-form {
  width: 400px;
  height: 40px;
}

.useraddress-form {
  width: 500px;
  height: 80px;
}

.name-line1 {
  margin-top: 30px;
  margin-bottom: 10px;
}

.name-line2, .name-line4, .name-line5 {
  margin-bottom: 10px;
}

.name-line3 {
  margin-top: 20px;
  margin-bottom: 10px;
}

.name-line6 {
  margin-bottom: 40px;
}

.password-change {
  margin-bottom: 10px;
}

.password-change3 {
  margin-top: 50px;
}

.empty-okay {
  font-size: 12px;
  margin: 10px;
}

.sign-out-title {
  margin: 40px 0;
  font-size: 20px;
  font-weight: bold;
}

.sign-out-title::after {
  content: "";
  display: block;
  background: #E2943B;
  height: 3px;
  width: 50px;
  margin: 30px 0;

}

.user-edit-back {
  font-size: 13px;
  margin-top: 40px;
}

/* フッター */

footer {
  background-color: #242423;
  height: 250px;
  padding: 20px 50px 0 70px;
  font-family: Arial, sans-serif;
}

footer h4 {
  font-size: 20px;
  text-transform: uppercase;
  color: #FFFFFF;
}

footer p {
  color: #FFFFFF;
  size: 10px;
}

.address {
  color: rgba(255, 255, 255, 0.5)
}

.col-xs-3 {
  padding: 20px;
}

footer {
  margin-top: 100px;
}
