// Place all the styles related to the contacts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* new ページ */

#right-header {
	background-color: #ccb78f;
	padding: 100px 0 40px 130px;
	height: 250px;
}

#contact-new-left {
	background-color: rgba(0, 0, 0, 0.04);
	height: 1000px;
	width: 20%;
	position: fixed;
}

#main-contents-contact{
	padding: 20px;
}

#right-head-contents {
	padding: 100px 0 0 100px;
	background-color: #e5dace;
	height: 500px;
}

.breadcrumbs{
	text-transform: uppercase;
	font-size: 13px;
	letter-spacing: 1px;
	a {
		border-bottom: 2px solid rgba(255,255,255,.1);
	}
}

.bread{
	font-family: 'Carter One', cursive;
  	font-size: 40px;
}

p, span {
	font-family: "Montserrat", Arial, sans-serif;
}

.form-control {
	height: 52px;
    background: #fff !important;
    border-radius: 0px !important;
}

.contact-information {
  margin: 3px;
}

textarea {
	width: 400px;
	height: 100px;
}






