// Place all the styles related to the photographers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/* header */

header{
    height: 60px;
    padding: 8px 60px 5px 60px;
 }

.header-line{
    height: 50px;
    background-color: #E4A850;
}

.header-message {
    font-size: 11px;
    text-align: center;
    line-height: 50px;
    font-weight: bold;
    color: white;
}


 /* マイページ トップ */

#photographer-info {
    text-align: center;
}

.profile_image {
    border-radius: 50%;
}

.main-boxes {
    padding: 20px;
    border: 1px solid #dce0e0;
}

.box-title {
    margin-top: 20px;
    margin-left: 10px;
    font-size: 30px;
    font-weight: bold;
}


 /* ユーザー側 / フォトグラファー側 show page 【共通部分】  */

.hi-message {
    font-size: 55px;
    font-family: 'Sawarabi Mincho', sans-serif;
}

.table th,td {
    border-top: none !important;
}

p {
    font-family: 'Sawarabi Mincho', sans-serif;
    font-size: 15px;
    color: #484848;
}

#fullname {
    font-size: 24px !important;

}

.table th {
    width: 5%;
}

#quote-icon {
    color: #EBEBEB !important;
    font-size: 25px !important;
    font-weight: 700 !important;
    margin: 20px 10px 10px 5px;
}

.who-i-am {
    margin: 5px;

}

.who-i-am::after {
    content: "";
    display: block;
    background: #EBEBEB;
    height: 3px;
    width: 30px;
    margin: 20px 10px 10px 0;
}

#map-pin-icon {
    font-size: 17px;
    padding-right: 5px;
    margin-top: 10px;
    margin-left: 10px;
}

#language-icon {
    font-size: 17px;
    padding-right: 10px;
    margin-top: 10px;
    margin-left: 10px;

}

#image-zone {
    padding-top: 20px;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-between;
}

.single_gallery_item {
    width: 200px;
    height: 200px;
}

/* レビュー index */

#review-post {
    margin: 20px;
}


/* 【Only ユーザー側】 photographer show ページ */

.container-fluid {
    overflow: hidden;
    position: relative;
}

.photographer-image {
    border-radius: 50%;
    height: 150px;
    width: 150px;
}

.col-xs-3 {
    position: absolute;
    padding-top: 3em;
    padding-bottom: 40px;
    padding-left: 6em;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    overflow-y: hidden;
    z-index: 1001;
}

.image-wrap {
    margin-top: 60px;
}

main {
    width: 100%;
    margin-top: 80px;
}

li {
    list-style: none
}

.portfolio-picture {
    margin: 20px;
}


/* 【Only フォトグラファー側】 photographer show ページ */


#photographer-mypage {
    background-color: #90B44B;
    height: 1000px;
}

.updates {
    margin: 20px;
}

#fullname-users {
    font-size: 24px;
    margin: 15px;
}

/* レビュー一覧 / レビュー投稿 / 編集 / 消去ボタン */

.review {
    margin-top: 40px;
}

/* SNS リンク */

.sns-btn {
    font-size: 30px;
    text-decoration: none;
    transition: .5s;
    margin: 8px;
}

/* アイコンにマウスを乗せた時 */

.sns-btn:hover {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
}

/* Twitter */

.sns-btn .fa-twitter-square {
    color: #55acee;
}

/* Instagram */

.sns-btn .fa-instagram {
    color: #c6529a;
}

/* Facebook*/

.sns-btn .fa-facebook-square {
    color: #3b5998;
}

/* アイコン全体の位置 */

.sns-wrapper {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}
