// Place all the styles related to the users/Cities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.top-image-city-show {
	height: 500px;
	background-image: url("/assets/teens.jpg");
	background-size: cover;
	background-position: center;
	margin-bottom: 40px;
}

.top-title-city-show h1 {
 	margin: 90px;
	font-size: 60px;
	font-family: 'Sigmar One', cursive;
	color: #FFF;
}

.about_city {
	padding: 20px;
}

.city-show-img {
	height: 500px;
  	width: 100%;
  	background-size: cover;
  	background-position: center;
  	opacity: 0.8;
}