// Place all the styles related to the users/Contacts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main-visual {
	background-image: url("<%= asset-path("help-desk") %>");
 	height: 400px;
 	background-size: cover;
 	font-weight: 900;
	font-size: 90px;
	text-transform: uppercase;
	color: #181818;
	text-align: center;
}

#contact-background {
	background-color: #e5dace;
	padding-top: 30px;
	padding-bottom: 60px;
}

.care-info-title {
	text-align: center;
}

.thankyou-for-yourcontact {
	text-align: center;
	font-size: 12px;
}

.contact-and-business-time::after {
  content: "";
  display: block;
  background: #D69A40;
  height: 2px;
  width: 30px;
  margin: 20px 0;

}

textarea {
	width: 400px;
	height: 100px;
}

.frequently {
	text-align: center;
	margin-top: 30px;
}

/*テープで貼る実装*/

.tape-box{
  margin: 1em 0;
  padding: 1em;
  background-color: #ffce00;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.15);
}

.tape{
  display: block;
  background-color: #ccb;
  opacity: 0.2;
  transform: rotate(3deg);
  width: 40%;
  height: 35px;
  margin: -2em auto 0 auto;
  border-left: 3px dotted rgba(0,0,0,.1);
  border-right: 3px dotted rgba(0,0,0,.1);
}
