// Place all the styles related to the users/Contacts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* new page */

#contact-background {
	background-color: #e5dace;
	padding-top: 30px;
	padding-bottom: 60px;
}

.care-info-title {
	text-align: center;
  font-family: 'Carter One', cursive;
}

.thankyou-for-yourcontact {
	text-align: center;
	font-size: 12px;
}

.contact-and-business-time {
  font-family: 'Carter One', cursive;
  font-size: 30px;
}

.contact-and-business-time::after {
  content: "";
  display: block;
  background: #D69A40;
  height: 2px;
  width: 30px;
  margin: 20px 0;

}

.contact-information {
  margin: 3px;
}

textarea {
	width: 400px;
	height: 100px;
}

