// Place all the styles related to the users/Countries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* index page*/

.main-image {
  height: 500px;
  background-image: url("/public/photographer.jpg");
  background-size: cover;
  background-position: center;
}

.main-image h1 {
  font-size: 60px;
  padding: 60px 80px;
  font-family: 'Acme', sans-serif;
  color: #FFF;
}

span {
  display: block;
  text-align: center;
}

.country-items {
  width: 400px;
  height: 400px;
}

.country-wrapper {
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 30px;
}

.country-items-box {
  margin: 0 auto;
}

.country_name {
  font-size: 15px;
  font-weight: bold;
}

.country-index {
  padding: 20px;
}

.country-paginate {
  margin-left: 20px;
}


/* show page*/

#country-show-img-box{
  position: relative;
  margin-bottom: 40px;
  opacity: 0.6;
}

#country-show-img-box h1 {
  position: absolute;
  top: 120px;
  left: 80px;
  font-size: 80px;
  font-family: 'Acme', sans-serif;
  color: #FFF;
}

.country-show-img {
  height: 400px;
  width: 100%;
  background-size: cover;
}

#search-engine-countries-index {
  margin-left: 370px;
}

#search-engine-countries-index input{
  float: left;
  height: 40px;
  margin-left: 10px;
}


