// Place all the styles related to the users/Countries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.country-wrapper {
  float: left;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 35px 20px;
}

.country_name {
  font-size: 15px;
  font-weight: bold;
}

.country-index {
  padding: 20px;
}

