// Place all the styles related to the users/Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* index page */

.moments {
	text-align: center;
	padding: 40px;
	font-size: 16px;
	line-height: 35px;
}

.anything {
	font-size: 45px;
	font-weight: 500;
	font-family: 'Permanent Marker', cursive;
	text-align: center;
	padding: 5px;
	margin-top: 20px;
}

.happy-review {
	font-size: 45px;
	font-weight: 500;
	font-family: 'Permanent Marker', cursive;
	text-align: center;
	padding-top: 100px;
	padding-bottom: 50px;
}

/* how it works */

.how-it-works {
	display: flex;
	justify-content: center;
	margin-top: 50px;
}

.process-1, .process-2, .process-3 {
	width: 30%;
}

.process-img-1 {
	width: 400px;
	height: 400px;
}

.process-img-2 {
	width: 400px;
	height: 400px;
}

.process-img-3 {
	width: 400px;
	height: 400px;
}

.process-explanation {
	color: #292b2c;
	width: 300px;
	margin: 30px;
	text-align: center;
	font-size: 14px;
}

.how-it-works-button {
	position: relative;
	background-color: #FC9F4D;
	border-radius: 4px;
	color: #fff;
	line-height: 52px;
	-webkit-transition: none;
	transition: none;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .4);
	width: 220px;
	margin-left: 80px;
	margin-top: 20px;
}

/* show page (マイページ トップ) */

.container-fluid {
    overflow: hidden;
    position: relative;
}

#head-line-user {
	height: 50px;
	background-color: #b2b2a2;
}

.header-message {
    font-size: 11px;
    text-align: center;
    line-height: 50px;
    font-weight: bold;
}

.mypage-title {
	font-family: 'Permanent Marker', cursive;
    font-size: 40px;
}

#mypage-sidebar {
	background-color: #F6C555;
    height: 1000px;
}

.slider {
	width: 100px;
	height: 100px;
}

.main-boxes {
    padding: 20px;
    border: 1px solid #dce0e0;
}

.box-title {
    margin-top: 20px;
    margin-left: 10px;
    font-size: 30px;
    font-weight: bold;
}

.updates {
	margin-top: 60px;
}

