// Place all the styles related to the users/Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* index page */

.moments {
	text-align: center;
	padding: 40px;
	font-size: 16px;
	line-height: 35px;
}

.anything {
	font-size: 45px;
	font-weight: 500;
	font-family: 'Permanent Marker', cursive;
	text-align: center;
	padding: 5px;
	margin-top: 20px;
}

/* how it works */

.how-it-works {
	display: flex;
	justify-content: center;
	margin-top: 50px;
}

.process {
	width: 300px;
	height: 300px;
	margin: 30px 30px 0 30px;
}

.process-explanation {
	color: #292b2c;
	width: 300px;
	margin: 30px;
	text-align: center;
}

.occasions {
	margin-top: 100px;
}


/* flex slider */

.slides li {
	position: relative;
}

.slides p {
  position: absolute;/*絶対配置*/
  color: white;/*文字は白に*/
  top: 100px;
  left: 100px;
}

.slides {
	width: 100%;
}

/* scroll button */

a {
	padding-top: 60px;
}
a span {
	position: absolute;
	top: 0;
	left: 50%;
	width: 46px;
	height: 46px;
	margin-left: -23px;
	border: 1px solid #fff;
	border-radius: 100%;
	box-sizing: border-box;
}
a span::after {
	position: absolute;
	top: 50%;
	left: 50%;
	content: '';
	width: 16px;
	height: 16px;
	margin: -12px 0 0 -8px;
	border-left: 1px solid #fff;
	border-bottom: 1px solid #fff;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
	box-sizing: border-box;
}
a span::before {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	content: '';
	width: 44px;
	height: 44px;
	box-shadow: 0 0 0 0 rgba(255,255,255,.1);
	border-radius: 100%;
	opacity: 0;
	-webkit-animation: sdb 3s infinite;
	animation: sdb 3s infinite;
	box-sizing: border-box;
}
@-webkit-keyframes sdb {
	0% {
	opacity: 0;
	}
	30% {
	opacity: 1;
	}
	60% {
	box-shadow: 0 0 0 60px rgba(255,255,255,.1);
	opacity: 0;
	}
	100% {
	opacity: 0;
	}
}
@keyframes sdb {
	0% {
	opacity: 0;
	}
	30% {
	opacity: 1;
	}
	60% {
	box-shadow: 0 0 0 60px rgba(255,255,255,.1);
	opacity: 0;
	}
	100% {
	opacity: 0;
	}
}


/* show page (マイページ トップ) */

.container-fluid {
    overflow: hidden;
    position: relative;
}

.user-mypage-back {
	background-color: #e5dace;
}

header{
    height: 60px;
    padding: 8px 60px 5px 60px;
 }

#head-line-user {
	height: 50px;
	background-color: #b2b2a2;
}

.header-message {
    font-size: 11px;
    text-align: center;
    line-height: 50px;
    font-weight: bold;
}

#mypage-sidebar {
	background-color: #6d7973;
    height: 1000px;
}

.slider {
	width: 100px;
	height: 100px;
}

