
<!-- 都市詳細 フォトグラファー 一覧ページ -->

<main class = "clearfix">
    <% @city.each do |c| %>
      <div class = "top-image"><p><%= c.city_name %></p></div>
        <p><%= c.country.contry_name %>
  	    <%#= attachment_image_tag country, :country_img, :fill, 200, 200, format: 'jpeg', fallback: "no_img.jpg", size: "200x200" %>
  	  </div>
	<% end %>
	<% @photographer.each do |photo| %>
	  <table class = "table table-hover">
		<tbody>
    	  <tr>
    		<td class = "contents"><%= attachment_image_tag photo, :profile_image, :fill, 50, 50, format: 'jpeg', fallback: "noimage.jpg", size:'50x50' %></td>
  	   		<td class = "contents"><%= link_to photo.first_name %></td>
    	  </tr>
    	</tbody>
       </table>
    <% end %>
</main>

