<div class = "container-fluid">
  <div class = "row">
    <footer>
		<div class = "col-xs-3">
		  <h4>Company</h4>
		  <p><i class="fas fa-map-marker-alt"></i> 〒 150-0041<br>Tokyo, Shibuya City, Jinnan,<br>1 Chome−19−11 Park Square-2</p>
		</div>
		<div class = "col-xs-3">
		  <h4>Have a question?</h4>
		  <p><i class="fas fa-phone-volume"></i> お問い合わせ 0120(XXX)XXX</p>
		  <h5 class = "contact-footer"><%=link_to "お問い合わせ", new_users_contact_path %></h5>
		  <p>お返事に3〜4営業日いただきます。</p>
		</div>
    </footer>
  </div>
</div>
